/* some style */
body{
     overscroll-behavior: contain;
}

#app{
    height:100%
}

html,body{
    height:100%;
    background-image: url(../images/background-app.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#imageContainer{
    
    
}
#login, #personal-info, #skin-survey{
    background-color: hsla(210, 14%, 97%, 0.66);
    border-radius: 15px;
    padding: 10px;}

